body {
  background-color: #ffe030;
  color: #3c5aa6;
  font-family: 'Press Start 2P', cursive;
  text-align:center;
  font-size:1vw;

}

.selector-for-some-widget {
  box-sizing: content-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  width: 25%;
  height: auto;
  align: center;
}

ul {
  list-style-type: none;
}

.button-class {
  font-family: 'Press Start 2P', cursive;
  background-color: #f2c005;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #396bba;
  border: 2px solid #396bba;
}

.button-class:hover {
  background-color: #296CDB;
  color:white;
}

.button-class:focus {
  background-color: #0F52C1;

  /* The outline parameter suppresses the border
  color / outline when focused */
  outline: 0;
}

.button-class:active {
  background-color: #0039A8;
}



#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;




  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;

}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;

  border-style: solid;
  border-color: #FFE030;
  border-width: 50px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-title h1 {
  margin-top: 0;
  font-style: oblique;
}

.modal p {
  margin-bottom: 0;

}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* this is used to center the modal */
  display: grid;

}

/*.pokemon-content{
background-color:red;
width:50%;
align:center;
}
